body, html {
   font-family: 'Lato', sans-serif;
    margin: 0, 0;
    padding: 0, 0;  
}

h1 {
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
    color: black !important;
}

.navbar-default .navbar-brand{
    color: black !important;
}

/*-------------------------- NAVIGATION --------------------------------*/
.navbar{
    height: 70px;
    background-color: rgb(248, 220, 225);
        
}

.navScroll{
    color: black !important;
}

.container-fluid , .container-fluid p{
    
    font-weight: 300;
    font-size: 30px;
    
    
}

.navScroll{
    font-weight: 200;
}

.navScroll:hover{
    font-weight: 300;
     letter-spacing: 0;
}





/*-------------------------- GABINET SECTION ------------------------------*/

#sectionGabinet{
    
    
    padding-top: 100px;
    font-size: 20px;
    font-weight: 300;
    background: url('../img/gabinet.png');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
}

#sectionGabinet p{
    padding-top: 20px;
}

#sectionGabinet h3{
    text-align: center;
}


#gabinetMiddle{
    background-color: rgba(248, 220, 225, 0.8);
    height: 300px;
}

#gabData{
    font-size: 30px;
    text-align: center;
    padding-top: 50px;
}

#gabData {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}


/*-------------------------- LASER SECTION ------------------------------*/

#sectionLaser{
    background-color: aquamarine;
    
}

#sectionLaser h1{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-align: center;
    
}