body, html {
   
    margin: 0, 0;
    padding: 0, 0;
  
}

.fullWindowHeight {
    width: 100%;
    margin-top: 0px;
    margin-top: 0px;
}





/*-------------------------- MENU SECTION ------------------------------*/
#menu{
    background-image: url('../img/background.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    z-index: -1;
}

#menuOpacity{
    width: 100%;
    height: 100%;
    z-index: 999;
    background: rgba(192,192,192,0.8);
}

.menuContainer {
    height: 200px;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

.menuContainer h1 {
    text-align: center;
    font-weight: 300;
    font-size: 50px;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}

.menuRow {
    margin-top: 30px;
    font-weight: 100;
    font-size: 40px;
}

.menuBoxBox {
    width: 300px;
    margin: 0 auto;
    height: 150px;
    background: rgba(255, 153, 204,0.4);
    border: 1px solid black;
    line-height: 150px;
}

.menuBoxBox:hover {
    font-weight: 300;
    cursor: pointer;
    background:  rgba(255, 153, 204,0.8);
}

.middleWindowHeigh{
    height: 200px;
}

/*--------------------------- OFER SECTION ----------------------------------*/

#oferSection{
    height: 800px;
    background-color: coral;
}

#oferSection .container{
    padding-top: 50px;
}


.aBlock{
    display: block;
    
}

.aBlockDiv{
    
    width: 300px;
    margin: auto;
    height: 200px;
    border: 1px solid black;
}

/*--------------------------- MAP SECTION ----------------------------------*/

#mapSection{
    
    height: 800px;
    width: 100%;
    text-align: center;
    font-size: 30px;
}

#mapSection h2{
    font-size: 40px;
    font-weight: 400;
}
#mapLeft{
    
    width: 40%;
    height: 300px;
    background-color: aliceblue;
   
    padding: 0;    
    float: left;
}

#mapRight{
    width: 60%;
    height: 300px;
    
    padding: 0;
    float: left;
}

#mapAdresHeader{
    margin-top: 70px;
}

/*--------------------------- CONTACT SECTION ----------------------------------*/


#contactSection{
    background-color: chartreuse;
}